<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Error{% endblock %}</title>

    {% block head_css %}
        <!-- Bootstrap CSS -->
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

{% block body %}
    <div class="container justify-content-center align-items-center">
        <div class="jumbotron mt-5 mb-5">
            <h1 class="display-4">Oppps! Error</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quaerat!.</p>
        </div>
    </div>
{% endblock %}

</body>

</html>
