@charset "UTF-8";

// Google fonts.
@import url('//fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700');
@import url('//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

// Define the base fonts.
$open: 'Open Sans', Arial, sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

// Colors.
$grey: #efefef;


